<h3>The Best Restaurants in Town</h3>

<div>
  <% @restaurants.each do |restaurant| %>
    <h4><a href="restaurants/<%=restaurant.id%>"><%= restaurant.name %></a> - <%= restaurant.address %> </h4>
  <% end %>
</div>
